.carousel-inner img{
    height: 500px;
    object-fit: cover;
    object-position: top;
    /* z-index: -5px; */

/* position: relative; */

}

/* .carousel-inner{ */
    
    /* position: relative; */
    /* z-index: -10px; */
    

    
/* } */
.nav-link{
    color: #fff;
    margin-right: 20px;
    font-size: 18px !important;
}
.nav-link:hover{
color:  cyan !important;
}
.navbar-nav .nav-link.active{
    color: cyan;
}



.colColor{
    height: 20px;
}



.bg-primary{
    background-color: #0e88d1;
}
.text-primary{
    color: #0e88d1;
}

.navbar-collapse{
    flex-grow: 0;
}
.carousel-caption{
    bottom: 40%;
}

.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.679);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.btn-primary{
    background-color: #0e88d1;
}